TMDB_ACCESS_TOKEN=
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_LANGUAGE=es-MX
TMDB_REGION=MX

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=watch_later
DATABASE_USER=watch_later_app
DATABASE_PASSWORD=